<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
    <a ng-click="showLeftMenu()">
      <md-icon icon="images/ic_menu_24px.svg"></md-icon>
    </a>
    <span>Flyaway</span>
  </div>
</md-toolbar>

<section layout="row"
         style="height: 100%;">

  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$media('gt-md')">
    <sidenav></sidenav>
  </md-sidenav>

  <md-content class="md-padding"
              flex
              layout="column"
              layout-align="center space-around">

    <md-text-float label="From"
                   ng-model="getSearchQuery().from"></md-text-float>
    <md-text-float label="To"
                   ng-model="getSearchQuery().to"></md-text-float>


    <label for="monthSelect"
           class="form-label">At</label>
    <select id='monthSelect'
            class="form-control"
            ng-model="getSearchQuery().month">
      <option ng-repeat="month in months">{{month}}</option>
    </select>

    <md-radio-group layout="row"
                    layout-align="center center"
                    ng-model="getSearchQuery().range">
      <md-radio-button value="0">3-5 days</md-radio-button>
      <md-radio-button value="1">5-7 days</md-radio-button>
      <md-radio-button value="2">8-10 days</md-radio-button>
    </md-radio-group>

  </md-content>
</section>

<md-button class="md-fab md-primary md-fab-bottom-right"
           aria-label="search"
           ng-click="showCountryView()">
  <md-icon icon="images/ic_flight_24px.svg"></md-icon>
  <md-tooltip>Search</md-tooltip>
</md-button>
