<div ng-controller="flightDetailController">

  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <a ng-click="navigateBack()">
        <md-icon icon="/images/ic_arrow_back_24px.svg"></md-icon>
      </a>
      <span ng-click="" class="md-flex">Booking</span>
    </div>
  </md-toolbar>

  <md-content class="md-padding">
    <h3>Barcelona BCN Milan (Linate) LIN 130</h3>
    <div>
      <h3>There 14.01.2015 (We)</h3>
      06.10 Barcelona (BCN) <br/>
      08.25 Milan (LIN) <br/>

      <h3> Back 20.01.2015 (Tu)</h3>
      08.45 Milan (LIN) <br/>
      11.30 Barcelona (BCN) <br/>
    </div>

    <md-button class="md-raised md-primary search-button"
               ng-click="findFlights()">Book these flight
    </md-button>
  </md-content>
</div>
